{% load static %}
<div dir="ltr">
    <div style="color:rgb(0,0,0);font-family:&quot;Times New Roman&quot;;font-size:medium;width:130px;max-width:130px;min-width:100px;float:left;padding-top:15px">
        <a href="{% url 'login' %}">
        <img src="{% static 'logo.svg' %}" alt="Dailt-todo" style="margin-top: 1.4em;margin-left:1.1em;width:90px;">
        </a>
    </div>
    <div style="width:190px;max-width:190px;font-family:&quot;Lucida Grande&quot;,Tahoma;font-size:12px;margin-top:0.5em;color:rgb(102,102,102);letter-spacing:2px;border-left:2px solid rgb(211,216,215);padding-top:3px;padding-left:10px;overflow:hidden">
        <p>Hi,{{ user_name }}&nbsp;<br></p><p>{{ message }}&nbsp;<br>
            <p>
                <a href="https://www.linkedin.com/in/maggarwal04/" style="margin-top:0.5em;color:rgb(102,102,102);text-decoration:none" target="_blank">
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_gray-24.png">
            </a>&nbsp;<a href="https://twitter.com/mayank_2036" style="margin-top:0.5em;color:rgb(102,102,102);text-decoration:none" target="_blank">
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_gray-24.png">
            </a>&nbsp;
            <a href="https://github.com/mayank-0407" style="margin-top:0.5em;color:rgb(102,102,102);text-decoration:none" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_circle_gray-24.png"></a></p></div><div style="width:190px;max-width:190px;font-family:'Lucida Grande',Tahoma;font-size:12px;margin-top:0.5em;color:rgb(102,102,102);letter-spacing:2px;border-left-width:2px;border-left-style:solid;border-left-color:rgb(251,224,181);padding-top:3px;padding-left:10px;overflow:hidden"></div></div>